.hero {
  // @include adaptiveValue("margin-top", 220, 165,0,1920,1440);
  // @include adaptiveValue("margin-top", 165, 80,3,1440,375);
  
  min-height: 100vh;
  display: flex;
  align-items: center;
	// .hero__body
	&__body {
    padding: toRem(100) 0 0 0;
    // height: 100%;
    width: 100%;
	}
  // .hero__container
  &__container {
    // @include adaptiveValue("padding-top", 437,320,0,1920,1440);
    // @include adaptiveValue("padding-top", 320,160,3,1440,480);
    position: relative;
    display: flex;
    column-gap: toRem(20);
    // &::before {
    //   @media (min-width:em(1200.98)){
    //     content:'';
    //     position: absolute;
    //     @include adaptiveValue("top", 344, 258,0,1920,1440);
    //     left: 20px;
    //     width: calc(100% - 40px);
    //     height: toRem(1);
    //     background-color: hsla(0, 0%, 0%, 0.15);
    //   }
    //   @media (max-width: em(1200.98)){
    //       display: none;
    //   }
    // }
    @media (max-width:$tablet){
      flex-direction: column;
    }
  }
  // .hero__first
  &__first {
    display: flex;
    @media (min-width:$tablet){
      flex-direction: column;
      justify-content: space-between;
    }
    @media (max-width:$tablet){
      margin-bottom: toRem(25);      
    }
  }
  // .hero__txt
  &__txt {
    @include adaptiveValue("font-size", 84, 63,0,1920,1440);
    @include adaptiveValue("font-size", 63, 48,3,1440,375);
    @include adaptiveValue("letter-spacing", -3.36, -1.92);
    text-transform: uppercase;
  }
  // .hero__future
  &__future {
    @media (min-width:$tablet){
      @include adaptiveValue("width", 130, 100,0,1920,1440);
      @include adaptiveValue("height", 130, 100,0,1920,1440);
      border-radius: 50%;
      background-color: $accent2;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    @media (max-width:$tablet){
      display: none;
    }
  }
  // .hero__future-txt
  &__future-txt {
    @include adaptiveValue("font-size", 22, 16,0,1920,1440);
    letter-spacing: -0.66px;
    text-transform: uppercase;
  }
  // .hero__second
  &__second {
    @media (max-width:$tablet){
      margin-bottom: toRem(45);
    }
  }
  // .hero__image
  &__image {
    max-width: toRem(925);
    img {
      width: 100%;
      height: auto;
    }
    @media (max-width:$tablet){
      max-width: toRem(700);
    }
  }
  // .hero__third
  &__third {
    @media (min-width:$tablet){
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      row-gap: toRem(30);
    }
  }
  // .hero__list
  &__list {
  }
  // .hero__invest
  &__invest {
    @media (max-width:$tablet){
      display: none;
    }
  }
}

.list-hero {
  @include adaptiveValue("margin-left", 194, 145,0,1920,1440);
  @include adaptiveValue("margin-left", 145, 0,3,1440,992);
  // .list-hero__item
  &__item {
    display: flex;
    align-items: center;
    column-gap: toRem(5);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 55, 20);
    }
    span {
      display: inline-block;
    }
  }
  // .list-hero__num
  &__num {
    color: $grayD3;
    @include adaptiveValue("font-size", 100, 84);
    @include adaptiveValue("letter-spacing", -4, -3.3);
    text-transform: uppercase;
    writing-mode: vertical-rl;
    transform: rotate(180deg)
  }
  // .list-hero__txt
  &__txt {
    @include adaptiveValue("font-size", 42, 32,0,1920,1440);
    @include adaptiveValue("font-size", 32, 28,3,1440,375);
    line-height: 0.9;
    @include adaptiveValue("letter-spacing", -1.68, -1.12);
    text-transform: uppercase;
  }
}

// ========= SECTION WHY 02 =============================================================
// ----------------------------------------------------
.why {
  // .why__line
  &__line {
    @include adaptiveValue("margin-bottom", 138, 100,0,1920,1440);
    @include adaptiveValue("margin-bottom", 100, 40,3,1440,375);
    background-color: $accent4;
  }
  // .why__container
  &__container {
  }
  // .why__title
  &__title {
    text-align: center;
    @include adaptiveValue("font-size", 160, 120,0,1920,1440);
    @include adaptiveValue("font-size", 120, 48,3,1440,375);
    line-height: 0.85;
    @include adaptiveValue("letter-spacing", -6.4, -1.92);
    text-transform: uppercase;
    // : toRem(1545);
    @include adaptiveValue("max-width", 1545, 1160,0,1920,1440);
    margin: 0 auto;
    span {
      color: $accent;
    }
    margin-bottom: toRem(40);
  }
  // .why__subtitle
  &__subtitle {
    text-align: center;
    max-width: toRem(560);
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 700;
  }
	// .why__slider-wrap
	&__slider-wrap {
    position: relative;
	}
  // .why__slider
  &__slider {
    @include adaptiveValue("margin-top", 206, 155,0,1920,1440);
    @include adaptiveValue("margin-top", 155, 60,3,1440,375);
    @include adaptiveValue("width", 580, 435,0,1920,1440);
    @include adaptiveValue("width", 435, 335,3,1440,375);
  }
  // .why__wrapper
  &__wrapper {
    @media (max-width:em(650.98)){
      margin-bottom: toRem(20);
    }
  }
  // .why__slide
  &__slide {
     @include adaptiveValue("width", 580, 435,0,1920,1440);
    @include adaptiveValue("width", 435, 335,3,1440,375);
    overflow: hidden;
  }
  // .why__item
  &__item {
  }
  	// .why__nav
	&__nav {
    position: absolute;
    left: 0;
    bottom: toRem(24);
    pointer-events: none;
    width: 100%;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: em(650.98)){
        position: relative;
        bottom: 0;
    }
  }
	// .why__pagination
	&__pagination {
	}
  // .why__btns
  &__btns {
    pointer-events: all;
  }
}

.item-why {
  overflow: hidden;
  border-radius: toRem(10);
  @include adaptiveValue("padding-top", 70, 50,0,1920,1440);
  @include adaptiveValue("padding-top", 50, 40,3,1440,375);
  @include adaptiveValue("padding-bottom", 70, 50,0,1920,1440);
  @include adaptiveValue("padding-bottom", 50, 40,3,1440,375);
  @include adaptiveValue("padding-left", 77, 50,0,1920,1440);
  @include adaptiveValue("padding-left", 50, 30,3,1440,375);
  @include adaptiveValue("padding-right", 77, 50,0,1920,1440);
  @include adaptiveValue("padding-right", 50, 30,3,1440,375);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: toRem(30);
  @include adaptiveValue("min-height", 680, 545,0,1920,1440);
  @include adaptiveValue("min-height", 545, 409,3,1440,375);
  &.item-why-1 {
    background-color: $accent2;
    .item-why__num {
      color: rgba(18, 18, 18, 0.20);
    }
    .item-why__btn {
      border-color: $mainColor;
      @media (any-hover: hover){
        &:hover{
          background-color: $mainColor;
          color: white;
        }
      }
    }
  }
  &.item-why-2 {
    background-color: $accent4;
    .item-why__num {
      color: rgba(255, 255, 255, 0.20);
    }
    .item-why__title {
      color: white;
    }
    .item-why__btn {
      border-color: white;
      color: white;
      @media (any-hover: hover){
        &:hover{
          background-color: white;
          color: $mainColor;
        }
      }
    }
  }
  &.item-why-3 {
    background-color: $accent;
    .item-why__num {
      color: rgba(255, 255, 255, 0.20);
    }
    .item-why__title {
      color: white;
    }
    .item-why__btn {
      border-color: white;
      color: white;
      @media (any-hover: hover){
        &:hover{
          background-color: white;
          color: $mainColor;
        }
      }
    }
  }
  &.item-why-4 {
    background-color: $accent3;
    .item-why__num {
      color: rgba(18, 18, 18, 0.20);
    }
    .item-why__btn {
      border-color: $mainColor;
      @media (any-hover: hover){
        &:hover{
          background-color: $mainColor;
          color: white;
        }
      }
    }
  }
  
  @media (max-width:$mobileSmall){
     border-radius: toRem(15); 
  }

	// .item-why__head
	&__head {
	}
  // .item-why__num
  &__num {
    @include adaptiveValue("margin-bottom", 65, 42,0,1920,1440);
    @include adaptiveValue("margin-bottom", 42, 30,3,1440,375);
    @include adaptiveValue("font-size", 64, 44,0,1920,1440);
    @include adaptiveValue("font-size", 44, 36,3,1440,375);
    @include adaptiveValue("letter-spacing", -2.56, -1.44);
  }
  // .item-why__title
  &__title {
    @include adaptiveValue("font-size", 52, 32);
    @include adaptiveValue("letter-spacing", -1, -0.64);
}
  // .item-why__btn
  &__btn {
    font-size: 22px;
    line-height: 1;
    letter-spacing: -0.66px;
    text-transform: uppercase;

    width: toRem(150);
    height: toRem(150);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: toRem(1) solid transparent;
    transition: all .3s ease;
  }
}


// ========= SECTION CASES 03 =============================================================
// ----------------------------------------------------
.cases {
  background-color: $accent4;
  @include adaptiveValue("padding-top", 120, 60);
  @include adaptiveValue("padding-bottom", 120, 60);
  // .cases__container
  &__container {
  }
  // .cases__title
  &__title {
    color: white;
    @include adaptiveValue("margin-bottom", 120, 90,0,1920,1440);
    @include adaptiveValue("margin-bottom", 90, 40,3,1440,375);
    br {
      @media (max-width:$mobile){
         display: none; 
      }
    }
    @media (max-width:$mobile){
       line-height: 0.85; 
    }
  }
  // .cases__title-sp
  &__title-sp {
    display: block;
    text-align: right;
    @media (max-width:$mobile){
       display: inline; 
       text-align: unset;
    }
  }
  // .cases__list
  &__list {
    border: 1px solid #B0BAF6;
  }
  // .cases__item
  &__item {
    &:not(:last-child) {
      border-bottom: 1px solid #B0BAF6;
    }
    &:nth-child(1) {
      .cases__name {
        @include adaptiveValue("margin-left", 200, 0,0,1920,480);
      }
    }
    &:nth-child(2) {
      .cases__name {
        @include adaptiveValue("margin-left", 500, 0,0,1920,480);
      }
    }
    &:nth-child(3) {
      .cases__name {
        @include adaptiveValue("margin-left", 800, 0,0,1920,480);
      }
    }
    @media (any-hover: hover){
      &:hover{
        .cases__link {
          background-color: $accent2;
        }
        .cases__num {
          color: rgba(0, 0, 0, 0.10);
        }
        .cases__name {
          color: $mainColor;
          span {
            color: $mainColor;
          }
        }
        .cases__arr {
          border-color: $mainColor;
          background-color: $mainColor;
          path {
            fill: $accent2;
          }
        }
      }
    }
  }
  // .cases__link
  &__link {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    column-gap: toRem(16);
    @include adaptiveValue("padding-top", 50, 20);
    @include adaptiveValue("padding-right", 50, 20);
    @include adaptiveValue("padding-bottom", 50, 20);
    @include adaptiveValue("padding-left", 50, 20);
    transition: all .3s ease;
  }
  // .cases__num
  &__num {
    display: block;
    color: rgba(255, 255, 255, 0.20);
    @include adaptiveValue("font-size", 64, 48,0,1920,1440);
    @include adaptiveValue("font-size", 48, 24,3,1440,375);
    @include adaptiveValue("letter-spacing", -2.48, -0.96);
    text-transform: uppercase;
    transition: all .3s ease;
  }
  // .cases__name
  &__name {
    display: block;
    color: #FFF;
    @include adaptiveValue("font-size", 62, 46,0,1920,1440);
    @include adaptiveValue("font-size", 46, 24,3,1440,375);
    @include adaptiveValue("letter-spacing", -2.48, -0.96);
    text-transform: uppercase;
    transition: all .3s ease;
    span {
      color: $accent2;
      transition: all .3s ease;
    }
  }
  // .cases__arr
  &__arr {
    @include adaptiveValue("width", 80, 40);
    @include adaptiveValue("height", 80, 40);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid white;
    @include adaptiveValue("border-width", 7, 3);
    background-color: transparent;
    transition: all .3s ease;
    svg {
      @include adaptiveValue("width", 20, 10);
    }
    path {
      transition: all .3s ease;
      fill: white;
    }
  }
}

// ========= SECTION GOAL 04 =============================================================
// ----------------------------------------------------
.goal {
  // .goal__container
  &__container {
  }
  // .goal__tilte
  &__tilte {
    text-align: center;
    line-height: 1;
    @include adaptiveValue("font-size", 60, 44,0,1920,1440);
    @include adaptiveValue("font-size", 44, 24,3,1440,375);
    @include adaptiveValue("letter-spacing", -2.4, -0.96);
    text-transform: uppercase;
    @include adaptiveValue("margin-bottom", 60, 20);
  }
  // .goal__subtitle
  &__subtitle {
    text-align: center;
    line-height: .9;
    @include adaptiveValue("margin-bottom", 120, 40);
    @media (max-width:$mobileSmall){
       line-height: .85; 
    }
  }
  // .goal__images
  &__images {
    margin: 0 auto;
    width: 100%;
    max-width: toRem(1358);
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      @media (max-width:$mobileSmall){
         width: 130%; 
         position: relative;
         left: 50%;
         transform: translateX(-50%);
      }
    }
  }
}

// ========= SECTION SERVICE 05 =============================================================
// ----------------------------------------------------
.service {
  // .service__line
  &__line {
    background-color: $accent2;
    @include adaptiveValue("margin-bottom", 120, 90,0,1920,1440);
    @include adaptiveValue("margin-bottom", 90, 40,3,1440,375);
    .line-why__item {
      color: $mainColor;
    }
  }
  // .service__container
  &__container {
  }
  // .service__list
  &__list {
  }
  // .service__item
  &__item {
  }
}

.item-service {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media (max-width:$tablet){
    grid-template-columns: 1fr;
  }
  &:not(:last-child) {
    @media (max-width:$tablet){
      margin-bottom: toRem(80);
    }
  }
  // .item-service_left 
  &_left {
    .item-service__info {
      @include adaptiveValue("padding-right", 40, 30,0,1920,1440);
      @include adaptiveValue("padding-right", 30, 0,3,993,992);
    }
    .item-service__image {
      margin-right: -20px;
      @media (max-width:$tablet){
        margin-right: 0;
      }
    }
  }
  // .item-service_right 
  &_right {
    .item-service__info {
      order: 2;
      @include adaptiveValue("padding-left", 40, 30,0,1920,1440);
      @include adaptiveValue("padding-left", 30, 0,3,993,992);
      @media (max-width:$tablet){
        order: 1;
      }
    }
    .item-service__image {
      order: 1;
      margin-left: -20px;
      @media (max-width:$tablet){
        order: 2;
        margin-left: 0;
      }
    }
  }
  // .item-service__info
  &__info {
    @include adaptiveValue("padding-top", 150, 110,0,1920,1440);
    @include adaptiveValue("padding-top", 110, 0,3,993,992);
    @include adaptiveValue("padding-bottom", 70, 40);

  }
  // .item-service__title
  &__title {
    @include adaptiveValue("margin-bottom", 55, 20);
    br {
      @media (max-width:$mobileSmall){
        display: none
      }
    } 
  }
  // .item-service__subtitle
  &__subtitle {
    @include adaptiveValue("font-size", 22, 16);
    line-height: 1.2;
    @include adaptiveValue("margin-bottom", 100, 75,0,1920,1440);
    @include adaptiveValue("margin-bottom", 75, 40,3,1440,375);
    @include adaptiveValue("max-width", 500, 375,0,1920,1440);
  }
  // .item-service__sublist
  &__sublist {
  }
  // .item-service__image
  &__image {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @media (max-width:$tablet){
        object-fit: contain;
      }
    }
  }
}

.sublist-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @include adaptiveValue("gap", 50, 30);
  @media (max-width:$mobileSmall){
     grid-template-columns: 1fr; 
  }
  // .sublist-item__li
  &__li {
  }
  // .sublist-item__num
  &__num {
    color: $grayE4;
    @include adaptiveValue("font-size", 34, 28);
    @include adaptiveValue("margin-bottom", 30, 20);
  }
  // .sublist-item__title
  &__title {
    @include adaptiveValue("font-size", 24, 18);
    line-height: 0.9;
    @include adaptiveValue("margin-bottom", 20, 10);
  }
  // .sublist-item__txt
  &__txt {
    font-family: "Manrope";
    font-size: toRem(16);
    font-weight: 500;
    line-height: 1.1;
  }
}

// ========= SECTION PACKAGES 06 =============================================================
// ----------------------------------------------------
.packages {
  // .packages__container
  &__container {
  }
  // .packages__title
  &__title {
    span {
      display: block;
      text-align: right;
      @media (max-width: em(670.98)){
          display: inline;
          text-align: unset;
      }
    }
    br {
      @media (max-width: em(670.98)){
          display: none;
      }
    }
    @media (max-width: em(670.98)){
        line-height: 0.85;
    }
    @include adaptiveValue("margin-bottom", 155, 116,0,1920,1440);
    @include adaptiveValue("margin-bottom", 116, 55,3,1440,375);
  }
  // .packages__block
  &__block {
  }
  // .packages__list
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @include adaptiveValue("column-gap", 20, 10,0,1920,1440);
    @media (max-width: em(1200.98)){
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
      row-gap: toRem(80);
    }
    @media (max-width: em(670.98)){
        grid-template-columns: 1fr;
    }
    @media (max-width:$mobileSmall){
       row-gap: toRem(55); 
    }
  }
  // .packages__item
  &__item {
    &:nth-child(3) {
      @media (max-width: em(1200.98)){
          grid-column-start: 1;
          grid-column-end: 3;
      }
      @media (max-width: em(670.98)){
        grid-column-start: unset;
        grid-column-end: unset;
      }
    }
  }
}

.item-packages {
  position: relative;
  // .item-packages_01
  &_01 {
    .item-packages__label {
      background-color: $accent4;
      color: white;
    }
    .item-packages__invest {
      background-color: $accent4;
    }
    .item-packages__link {
      background-color: $accent4;
      color: white;
      &::before {
        background-color: $accent4;
      }
    }
  }
  // .item-packages_02
  &_02 {
    .item-packages__label {
      background-color: $accent2;
    }
    .item-packages__invest {
      background-color: $accent2;
    }
    .item-packages__invest-txt {
      color: $mainColor;
    }
    .item-packages__link {
      background-color: $accent2;
      &::before {
        background-color: $accent2;
      }
    }
  }
  // .item-packages_03
  &_03 {
    .item-packages__label {
      background-color: $accent;
      color: white;
    }
    .item-packages__title {
      @include adaptiveValue("font-size", 38, 28,0,1920,1440);
      @include adaptiveValue("font-size", 28, 22,3,670,375);
    }
    .item-packages__invest {
      background-color: $accent;
    }
    .item-packages__link {
      background-color: $accent;
      color: white;
      &::before {
        background-color: $accent;
      }
    }
  }
  // .item-packages__label
  &__label {
    position: absolute;
    top: toRem(-10);
    @include adaptiveValue("right", -16, -9,0,1920,1440);
    @include adaptiveValue("right", -9, -16,3,671,670);
    transform: rotate(22deg);

    width: fit-content;
    @include adaptiveValue("font-size", 34, 24);
    line-height: normal;
    @include adaptiveValue("letter-spacing", -1.36, -0.96);
    text-transform: uppercase;
    padding-top: toRem(2);
    padding-bottom: toRem(2);
    @include adaptiveValue("padding-left", 30, 22);
    @include adaptiveValue("padding-right", 30, 22);
  }
  // .item-packages__body
  &__body {
    border-radius: toRem(15);
    border: 1px solid $grayEA;
    background: rgba(244, 244, 244, 0.30);
    padding-top: toRem(37);
    @include adaptiveValue("padding-bottom", 150, 112,0,1920,1440);
    @media (max-width: em(1440.98)) and (min-width: em(670.98)) {
      display: flex;
      flex-direction: column;
      height: 100%
    }
    @media (max-width:$mobileSmall){
       margin-bottom: toRem(10); 
    }
  }
  // .item-packages__title
  &__title {
    // flex: 1;
    @include adaptiveValue("font-size", 38, 28);
    @include adaptiveValue("letter-spacing", -0.7, -0.56);
    // line-height: normal;
    text-align: center;
    text-transform: uppercase;
    
    @include adaptiveValue("margin-left", 50, 30);
    @include adaptiveValue("margin-right", 50, 30);
    @include adaptiveValue("margin-bottom", 45, 20);
    padding-bottom: toRem(10);
    border-bottom: toRem(1) solid rgba(0, 0, 0, 0.10);
  }
  // .item-packages__about
  &__about {
    flex: 1;
    @include adaptiveValue("padding-left", 50, 30);
    @include adaptiveValue("padding-right", 50, 30);
    @include adaptiveValue("margin-bottom", 45, 20);
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media (max-width:$mobileSmall){
       grid-template-columns: 1fr; 
       row-gap: toRem(20);
    }
  }
  // .item-packages__block
  &__block {
    &:nth-child(1) {
      padding-right: toRem(22);
    }
    &:nth-child(2) {
      padding-left: toRem(22);
      position: relative;
      &::before {
        content:'';
        position: absolute;
        top: 0;
        left: toRem(0);
        width: toRem(3);
        height: 100%;
        background-color: $mainColor;
      }
    }
    p {
      &:not(:last-child) {
        margin-bottom: toRem(5);
      }
    }
  }
  // .item-packages__txt-1
  &__txt-1 {
    @include adaptiveValue("font-size", 24, 18,0,1920,1440);
    @include adaptiveValue("font-size", 18, 24,3,671,670);
    // line-height: normal;
    letter-spacing: toRem(-0.48);
    text-transform: uppercase;
  }
  // .item-packages__txt-2
  &__txt-2 {
    color: $gray87;
    @include adaptiveValue("font-size", 18, 14,0,1920,1440);
    @include adaptiveValue("font-size", 14, 18,3,671,670);
    font-weight: 400;
    line-height: 1;
  }
  // .item-packages__txt-3
  &__txt-3 {
    @include adaptiveValue("font-size", 22, 17,0,1920,1440);
    @include adaptiveValue("font-size", 17, 22,3,671,670);
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.44px;
    text-transform: uppercase;
  }
  // .item-packages__invest
  &__invest {
    padding-top: toRem(15);
    padding-bottom: toRem(15);
    @include adaptiveValue("padding-left", 50, 30);
    @include adaptiveValue("padding-right", 50, 30);
    @include adaptiveValue("margin-bottom", 45, 20);
    display: grid;
    grid-template-columns: 50% 25% 25%;
    @media (max-width: em(1440.98)){
      grid-template-columns: 40% auto auto;
    }
  }
  // .item-packages__invest-txt
  &__invest-txt {
    color: white;
    @include adaptiveValue("font-size", 24, 18);
    line-height: normal;
    @include adaptiveValue("letter-spacing", -0.24, -0.18);
    text-transform: uppercase;
    &:not(:last-child) {
      padding-right: toRem(5);
    }
    &:last-child {
      text-decoration: line-through;
      text-align: right;
    }
  }
  // .item-packages__calculation
  &__calculation {
    @include adaptiveValue("padding-left", 50, 30);
    @include adaptiveValue("padding-right", 50, 30);
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: toRem(10);
  }
  // .item-packages__before
  &__before {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
   // .item-packages__after
   &__after {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  // .item-packages__list-title
  &__list-title {
    flex: 1;
    color: $gray87;
    @include adaptiveValue("font-size", 18, 16);
    line-height: .9;
    @include adaptiveValue("margin-bottom", 30, 15);
  }
  // .item-packages__list
  &__list {
  }
  // .item-packages__li
  &__li {
    @include adaptiveValue("font-size", 24, 18);
    line-height: normal;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 10, 5);
    }
  }
	// .item-packages__link
	&__link {
    
    @include adaptiveValue("width", 200, 150,0,1920,1440);
    @include adaptiveValue("height", 200, 150,0,1920,1440);
    display: flex;
    align-items: center;
    justify-content: center;
    
    @include adaptiveValue("font-size", 32, 24,0,1920,1440);
    @include adaptiveValue("font-size", 24, 18,3,1440,375);
    line-height: 1;
    @include adaptiveValue("letter-spacing", -1.28, -0.36);
    text-transform: uppercase;
    @media (min-width:$mobileSmall){
      position: absolute;
      @include adaptiveValue("bottom", -100, -75,0,1920,1440);
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 3;
      border-radius: 50%;
    }
    @media (max-width:$mobileSmall){
       width: 100% !important; 
       height: toRem(50) !important;
       border-radius: toRem(30);
    }
    &::before {
      @media (min-width:$mobileSmall){
        content:'';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transition: all .3s ease;
        background-color: gray;
      }
      @media (max-width:$mobileSmall){
         display: none; 
      }
    }
    @media (any-hover: hover){
      &:hover{
        &::before {
          transform: scale(1.15);
        }
      }
    }
	}
}

// ========= SECTION GUARANTEES 07 =============================================================
// ----------------------------------------------------
.guarantees {
  background-color: $accent2;
  @include adaptiveValue("padding-top", 110, 60);
  @include adaptiveValue("padding-bottom", 110, 60);
  // .guarantees__container
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media (min-width:$mobile){
      column-gap: toRem(50);
    }
    @media (max-width:$mobile){
       grid-template-columns: 1fr; 
       row-gap: toRem(45);
    }
  }
  // .guarantees__image
  &__image {
    @media (max-width:$mobile){
       order: 2; 
    }
  }
	// .guarantees__img-body
	&__img-body {
    @include adaptiveValue("max-width", 580, 435,0,1920,1440);
    @media (max-width:$mobile){
       max-width: 100% !important; 
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  // .guarantees__info
  &__info {
    @media (max-width:$mobile){
      order: 1; 
    }
  }
  // .guarantees__title
  &__title {
    @include adaptiveValue("padding-bottom", 55, 30);
    border-bottom: toRem(1) solid rgba(0, 0, 0, 0.20);
    margin-bottom: toRem(30);
    br {
      @media (max-width:$mobileSmall){
         display: none; 
      }
    }
  }
  // .guarantees__buttons
  &__buttons {
    @media (min-width:$mobileSmall){
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: toRem(50);
    }
  }
  // .guarantees__txt
  &__txt {
    max-width: toRem(450);
    font-family: "Manrope";
    @include adaptiveValue("font-size", 24, 18);
    font-weight: 500;
    line-height: 1.1;
  }
  // .guarantees__link
  &__link {
    @media (min-width:$mobileSmall){
      flex: 0 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      @include adaptiveValue("width", 100, 75,0,1920,1440);
      @include adaptiveValue("height", 100, 75,0,1920,1440);
      border-radius: 50%;
      background-color: $mainColor;
      @include adaptiveValue("padding-left", 5, 3,0,1920,1440);
      transition: all .3s ease;
      svg {
        @include adaptiveValue("width", 25, 19,0,1920,1440);
        height: auto;
      }
      path {
        fill: $accent2;
        transition: all .3s ease;
      }
      @media (any-hover: hover){
        &:hover{
          background-color: $accent;
          path {
            fill: white;;
          }
        }
      }
    }
    @media (max-width:$mobileSmall){
       display: none; 
    }
  }
}

// ========= SECTION TESTIMONIALS 08 =============================================================
// ----------------------------------------------------
.testimonials {
  @media (max-width: em(700.98)){
      margin-bottom: toRem(80);
  }
  // .testimonials__line
  &__line {
    background-color: $accent4;
  }
  // .testimonials__container
  &__container {
    @media (min-width:em(700.98)){
      position: relative;
      &::before {
        content:'';
        position: absolute;
        z-index: 5;
        top: 0;
        left: 50%;
        height: 100%;
        width: toRem(1);
        background-color: rgba(0, 0, 0, 0.15);
      }
    }
  }
  // .testimonials__slider
  &__slider {
    width: 100%;
  }
  // .testimonials__wrapper
  &__wrapper {
  }
  // .testimonials__slide
  &__slide {
    &.swiper-slide {
      .slide-testim__left,
      .slide-testim__right {
        @media (max-width: em(700.98)){
          opacity: 0;
        }
      }
    }
    &.swiper-slide-active {
      .slide-testim__left,
      .slide-testim__right {
        @media (max-width: em(700.98)){
          opacity: 1;
        }
      }
    }
    &.swiper-slide-prev {
      .slide-testim__left,
      .slide-testim__right {
        @media (max-width: em(700.98)){
          opacity: 0;
        }
      }
    }
  }
  // .testimonials__nav
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
    @include adaptiveValue("bottom", 212, 130,0,1920,1440);
    @include adaptiveValue("bottom", 130, 24,3,1440,1250);
    @include adaptiveValue("max-width", 580, 475,0,1920,1440);
    @include adaptiveValue("max-width", 475, 290,3,1440,700);

    z-index: 5;
    @media (min-width:em(700.98)){
      position: absolute;
      right: 0;
    }
    @media (max-width: em(700.98)){
      position: relative;  
      bottom: 0 !important;
      max-width: 100% !important;
    }
  }
  // .testimonials__pagination
  &__pagination {
  }
  // .testimonials__btns
  &__btns {
  }
}

.slide-testim {
  @include adaptiveValue("padding-top", 120, 90,0,1920,1440);
  @include adaptiveValue("padding-top", 90, 40,3,1440,375);
  @include adaptiveValue("padding-bottom", 120, 90,0,1920,1440);
  @include adaptiveValue("padding-bottom", 90, 40,3,1440,375);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: white;
  @media (max-width: em(700.98)){
      grid-template-columns: 1fr;
      row-gap: toRem(40);
      padding-bottom: toRem(40) !important;
  }
  // .slide-testim__left
  &__left {
    @media (min-width:em(700.98)){
      padding-right: toRem(40);
    }
    @media (max-width: em(700.98)){
      transition: all .3s ease;
    }
  }
  // .slide-testim__left-block
  &__left-block {
    @include adaptiveValue("max-width", 580, 435,0,1920,1440);
    @include adaptiveValue("max-width", 435,350,3,1440,700 );
    display: flex;
    flex-direction: column;
    @include adaptiveValue("row-gap", 100, 75,0,1920,1440);
    @include adaptiveValue("row-gap", 75, 20,3,1440,375);
  }
  // .slide-testim__big
  &__big {
    color: $accent;
    @include adaptiveValue("font-size", 140, 105,0,1920,1440);
    @include adaptiveValue("font-size", 105, 48,3,1440,375);
    @include adaptiveValue("letter-spacing", -5.6, -1.92);
    text-transform: uppercase;
  }
  // .slide-testim__sml
  &__sml {
    @include adaptiveValue("font-size", 80, 60,0,1920,1440);
    @include adaptiveValue("font-size", 60, 32,3,1440,375);
    @include adaptiveValue("letter-spacing", -3.2, -1.28);
    text-transform: uppercase;
  }
  // .slide-testim__right
  &__right {
    @media (max-width: em(700.98)){
      transition: all .3s ease;
    }
  }
  // .slide-testim__right-block
  &__right-block {
    @include adaptiveValue("padding-left", 300, 225,0,1910,1440);
    @include adaptiveValue("padding-left", 225, 40,3,1440,768);
    @include adaptiveValue("padding-bottom", 55, 41,0,1920,1440);
    @include adaptiveValue("min-height", 300, 235,0,1910,1440);

    display: flex;
    flex-direction: column;
    row-gap: toRem(20);
    @media (min-width:em(1100.98)){
      border-bottom: toRem(1) solid rgba(0, 0, 0, 0.15);
    }
    @media (max-width: em(700.98)){
        min-height: auto !important;
        padding-left: 0 !important;
        padding-bottom: 0 !important;
    }
  }
  // .slide-testim__texts
  &__texts {
    flex: 1;
  }
  // .slide-testim__txt
  &__txt {
    @include adaptiveValue("font-size", 24, 18);
    @include adaptiveValue("letter-spacing", -0.72, -0.54);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 25, 18);
    }
  }
  // .slide-testim__btm
  &__btm {
  }
  // .slide-testim__name
  &__name {
    @include adaptiveValue("font-size", 36, 28);
    @include adaptiveValue("letter-spacing", -0.72, -0.56);
    text-transform: uppercase;
    line-height: normal;
  }
  // .slide-testim__position
  &__position {
    color: $gray87;
    @include adaptiveValue("font-size", 28, 22);
    @include adaptiveValue("letter-spacing", -0.56, -0.44);
    line-height: normal;
  }
}

// ========= SECTION FRIENDS 09 =============================================================
// ----------------------------------------------------
.friends {
  background-color: $accent4;
  @include adaptiveValue("padding-top", 120, 60);
  @include adaptiveValue("padding-bottom", 120, 60);
  // .friends__container
  &__container {
  }
  // .friends__title
  &__title {
    color: $accent2;
    text-align: center;
    @include adaptiveValue("font-size", 170, 127,0,1920,1440);
    @include adaptiveValue("font-size", 127, 48,3,1440,375);
    @include adaptiveValue("letter-spacing", -6.8, -1.92);
    text-transform: uppercase;
    margin: 0 auto;
    @include adaptiveValue("max-width", 995, 745,0,1920,1440);
  }
}

// ========= SECTION FORM 10 =============================================================
// ----------------------------------------------------
.form {
  // .form__container
  &__container {
  }
  // .form__title
  &__title {
    @include adaptiveValue("font-size", 140, 111,0,1920,1440);
    @include adaptiveValue("font-size", 111, 48,3,1440,375);
    @include adaptiveValue("letter-spacing", -5.6, -1.92);
    text-transform: uppercase;
    line-height: 0.9;
    @include adaptiveValue("margin-bottom", 120, 90,0,1920,1440);
    @include adaptiveValue("margin-bottom", 90, 40,3,1440,375);
    br {
      @media (max-width:$tablet){
        display: none;
      }
    }
  }
  // .form__title-span
  &__title-span {
    @media (min-width:$tablet){
      display: block;
      text-align: right;
    }
  }
  // .form__body
  &__body {
    display: grid;
    grid-template-columns: 42% 58%;
    @include adaptiveValue("padding-top", 100, 75,0,1920,1440);
    @include adaptiveValue("padding-top", 75, 40,3,1440,768);
    @include adaptiveValue("padding-bottom", 220, 165,0,1920,1440);
    @include adaptiveValue("padding-bottom", 165, 80,3,1440,375);
    
    @media (min-width:em(750.98)){
      border-top: toRem(1) solid rgba(0, 0, 0, 0.15);
      position: relative;
      &::before {
        content:'';
        position: absolute;
        z-index: 5;
        top: 0;
        left: 42%;
        height: 100%;
        width: toRem(1);
        background-color: rgba(0, 0, 0, 0.15);
      }
    }
    @media (max-width: em(750.98)){
        grid-template-columns: 1fr;
        padding-top: 0 !important;
        row-gap: toRem(40);
    }
  }
  // .form__social
  &__social {
    @media (max-width: em(750.98)){
      order: 2;
    }
  }
  // .form__form-item
  &__form-item {
    @media (max-width: em(750.98)){
      order: 1;
    }
  }
}

.social-form {
  @media (min-width:em(750.98)){
    padding-right: toRem(40);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    row-gap: toRem(20);
  }
  // .social-form__txt
  &__txt {
    color: $gray87;
    @include adaptiveValue("font-size", 28, 24);
    line-height: 1;
    letter-spacing: -0.28px;
    max-width: toRem(322);
    @media (max-width: em(750.98)){
        margin-bottom: toRem(40);
    }
  }
  // .social-form__block
  &__block {
  }
  // .social-form__big-txt
  &__big-txt {
    @include adaptiveValue("font-size", 64, 48,0,1920,1440);
    @include adaptiveValue("font-size", 48, 24,3,1440,375);
    @include adaptiveValue("letter-spacing", -2.56, -0.96);
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: toRem(15);
  }
  // .social-form__links
  &__links {
    display: flex;
    flex-wrap: wrap;
    gap: toRem(5);
    @media (max-width:em(900.98)){
       flex-direction: column;
    }
  }
  // .social-form__link
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: toRem(10);

    border-radius: toRem(120);
    border: 1px solid #EAEAEA;
    background-color: #FBFBFB;
    width: fit-content;
    @include adaptiveValue("padding-left", 31, 23,0,1920,1440);
    @include adaptiveValue("padding-right", 31, 23,0,1920,1440);
    @include adaptiveValue("padding-top", 20, 15);
    @include adaptiveValue("padding-bottom", 20, 15);

    font-size: toRem(18);
    line-height: normal;
    letter-spacing: -0.18px;
    transition: all .3s ease;
    &.link-color-1 {
      @media (any-hover: hover){
        &:hover{
          border-color: #FE01B3;
        }
      }
    }
    &.link-color-2 {
      @media (any-hover: hover){
        &:hover{
          border-color: #29A9EA;
        }
      }
    }
    &.link-color-3 {
      @media (any-hover: hover){
        &:hover{
          border-color: #42EA61;
        }
      }
    }
    &.link-color-4 {
      @media (any-hover: hover){
        &:hover{
          border-color: #815DF3;
        }
      }
    }
    @media (max-width:em(900.98)){
       width: 100%; 
    }
  }
  // .social-form__img
  &__img {
  }
  // .social-form__link-txt
  &__link-txt {
  }
}


// ========= SECTION FOOTER 11 =============================================================
// ----------------------------------------------------
.footer {
  background-color: $mainColor;
  @include adaptiveValue("padding-top", 50, 40);
  @include adaptiveValue("padding-top", 50, 40);
  padding-bottom: toRem(27);
  // .footer__container
  &__container {
  }
  // .footer__image
  &__image {
    @include adaptiveValue("padding-bottom", 60, 20);
    border-bottom: toRem(1) solid rgba(255, 255, 255, 0.2);
    img {
      width: 100%;
      height: auto;
    }
  }
  // .footer__block
  &__block {
    @include adaptiveValue("padding-top", 21, 16);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  // .footer__left
  &__left {
    display: flex;
    align-items: center;
    width: 100%;
    @include adaptiveValue("max-width", 1040, 750,0,1920,1440);
    @include adaptiveValue("max-width", 750, 480,3,1440,768);
    justify-content: space-between;
    column-gap: toRem(40);
    @media (max-width:$mobile){
       flex-direction: column;
       row-gap: toRem(5); 
       align-items: flex-start;
    }
  }
  // .footer__policy
  &__policy {
    color: white;
    font-family: "Manrope";
    @include adaptiveValue("font-size", 18, 14);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  // .footer__link
  &__link {

    color: white;
    font-family: "Manrope";
    @include adaptiveValue("font-size", 18, 14);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    @include adaptiveValue("letter-spacing", -0.36, -0.28);
    transition: all .3s ease;
    @media (any-hover: hover){
      &:hover{
        color: $accent2;
      }
    }
  }
  // .footer__totop
  &__totop {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    @include adaptiveValue("width", 42, 34);
    @include adaptiveValue("height", 42, 34);
    border-radius: 50%;
    border: toRem(2) solid white;
    padding-bottom: 2px;

    transition: all .3s ease;
    @media (any-hover: hover){
      &:hover{
        background-color: white;
        path {
          stroke: $mainColor;
        }
      }
    }
    svg {
      @include adaptiveValue("width", 19, 11);
    }

    path {
      stroke: white;
      transition: all .3s ease;
    }
  }
}
